.card-stats{
    .card-header{
      &.card-header-icon,
      &.card-header-text{
        text-align: right;
      }
  
      .card-icon + .card-title,
      .card-icon + .card-category{
        padding-top: 10px;
      }
  
      &.card-header-icon .card-title,
      &.card-header-text .card-title,
      &.card-header-icon .card-category,
      &.card-header-text .card-category {
        margin: 0;
      }
      .card-category {
        margin-bottom: 0;
        margin-top: 0;
  
        &:not([class*="text-"]){
          color: gray;
         
        }
      }
  
      & + .card-footer{
        border-top: 1px solid #eee;
        margin-top: 14px;
      }
  
      &.card-header-icon i {
        font-size: 36px;
        line-height: 56px;
        width: 56px;
        height: 56px;
        text-align: center;
      }
    }
  
    .card-body {
      text-align: right;
    }
  }

  .card-icon,
      .card-text{
        border-radius: 3px;
        padding: 15px;
        margin-top: -20px;
        margin-right: 15px;
        float: left;
      }

 .card-body {
        padding-left: 5px;
        padding-right: 5px;
    }

.row-second {
    margin-top: 70px;
    
}

canvas {
  height: 35vh !important;
  width: 35vw !important;
}

h4 {
  margin-top: 0px;
}

.pieChart {
  height:50vh; 
  width:20vw
}

table {
  width : 100%;
  overflow-y: scroll;
}


.mat-column {
  margin-left:  15px;
}