<div class = "main-content">
    <mat-tab-group>
       <mat-tab label = "Transactions">
        <div class = "card">
          <div class = "card-header">
              <button mat-button [swal]="['Oops!', 'This is not implemented yet :/', 'warning']" >Save as PDF</button> <br>
              <button mat-button [swal]="['Oops!', 'This is not implemented yet :/', 'warning']" >Save as CSV</button> 
          </div>
          <div class = "card-body">
                    <table mat-table [dataSource] = "transaction" class = "mat-elevation-z8">

                      <ng-container matColumnDef = "borrowerID">
                        <th mat-header-cell *matHeaderCellDef> Borrower ID</th>
                        <td mat-cell *matCellDef = "let transaction"> {{transaction.borrowerID}} </td>
                      </ng-container>

                      <ng-container matColumnDef = "itemID">
                        <th mat-header-cell *matHeaderCellDef> Item ID</th>
                        <td mat-cell *matCellDef = "let transaction"> {{transaction.itemID}} </td>
                      </ng-container>

                      <ng-container matColumnDef = "purpose">
                        <th mat-header-cell *matHeaderCellDef> Purpose </th>
                        <td mat-cell *matCellDef = "let transaction"> {{transaction.purpose}} </td>
                      </ng-container>

                      <ng-container matColumnDef = "dateBorrowed">
                        <th mat-header-cell *matHeaderCellDef> Date Borrowed</th>
                        <td mat-cell *matCellDef = "let transaction"> {{transaction.dateBorrowed}} </td>
                      </ng-container>

                      <ng-container matColumnDef = "dateReturned">
                        <th mat-header-cell *matHeaderCellDef> Date Returned</th>
                        <td mat-cell *matCellDef = "let transaction"> {{transaction.dateReturned}} </td>
                      </ng-container>

                      <ng-container matColumnDef = "hasIncident">
                        <th mat-header-cell *matHeaderCellDef> has Incident</th>
                        <td mat-cell *matCellDef = "let transaction"> {{transaction.hasIncident}} </td>
                      </ng-container>

                      <tr mat-header-row *matHeaderRowDef="displayedColumnsTransaction"></tr>
                      <tr mat-row *matRowDef="let row; columns: displayedColumnsTransaction;" ></tr>

                    </table>
                    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
          </div>
        </div>
      </mat-tab>
      <mat-tab label = "Incidents">
          <div class="card">
              <div class="card-header">  
              </div>
              <div class="card-body">
                    <table mat-table [dataSource]="incident" class="mat-elevation-z8">
                              
                      <ng-container matColumnDef="date">
                          <th mat-header-cell *matHeaderCellDef> Date </th>
                          <td mat-cell *matCellDef="let incident"> {{incident.date}} </td>
                      </ng-container>
      
                      <ng-container matColumnDef="bID">
                          <th mat-header-cell *matHeaderCellDef> Borrower ID </th>
                          <td mat-cell *matCellDef="let incident"> {{incident.bID}} </td>
                      </ng-container>
      
                      <ng-container matColumnDef="bName">
                          <th mat-header-cell *matHeaderCellDef> Borrower Name </th>
                          <td mat-cell *matCellDef="let incident"> {{incident.bName}} </td>
                      </ng-container>
      
                      <ng-container matColumnDef="itemID">
                          <th mat-header-cell *matHeaderCellDef> Item ID </th>
                          <td mat-cell *matCellDef="let incident"> {{incident.itemID}} </td>
                      </ng-container>
      
                          
                      <tr mat-header-row *matHeaderRowDef="displayedColumnsIncidents"></tr>
                      <tr mat-row *matRowDef="let row; columns: displayedColumnsIncidents;" (click)="openEditIncident(row)"></tr>
                  </table> 
                  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator> 
              </div>
          </div>
      </mat-tab>
      <mat-tab label = "Logs">
        <div class = "card">
            <div class = "card-header">
                <button mat-button [swal]="['Oops!', 'This is not implemented yet :/', 'warning']" >Save as PDF</button> <br>
                <button mat-button [swal]="['Oops!', 'This is not implemented yet :/', 'warning']" >Save as CSV</button> 
            </div>
            <div class = "card-body">
                <table mat-table [dataSource] = "audit" class = "mat-elevation-z8">

                      <ng-container matColumnDef="date">
                          <th mat-header-cell *matHeaderCellDef> Date </th>
                          <td mat-cell *matCellDef="let audit"> {{audit.date}} </td>
                      </ng-container>
      
                      <ng-container matColumnDef="actionType">
                          <th mat-header-cell *matHeaderCellDef> Action </th>
                          <td mat-cell *matCellDef="let audit"> {{audit.actionType}} </td>
                      </ng-container>
      
                      <ng-container matColumnDef="actor">
                          <th mat-header-cell *matHeaderCellDef> User </th>
                          <td mat-cell *matCellDef="let audit"> {{audit.actor}} </td>
                      </ng-container>

                      <tr mat-header-row *matHeaderRowDef="displayedColumnsAudit"></tr>
                      <tr mat-row *matRowDef="let row; columns: displayedColumnsAudit;" ></tr>

                    </table>
                    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
            </div>
        </div>
      </mat-tab>
    </mat-tab-group>
</div>