<div class="login-page" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="50px">
    <div class="logo-container" fxFlexAlign="center">
        <app-logo2></app-logo2>
    </div>
    <mat-card fxFlexAlign="center">
        <mat-card-title>
          Forgot your Password ?
        </mat-card-title>
        <mat-card-content>
            <div [formGroup] = "usernameForm">
                <mat-form-field class="login-field">
                    <input matInput placeholder="Enter Username" formControlName = "username" autocomplete="off" >
                </mat-form-field>
            </div>
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button color="primary"
                    class="login-field" (click)="submitUsernameForm()" type="submit">
                Submit
            </button>
            <br>
            <button mat-button color="primary"
                    class="login-field" [routerLink]="['/login']">
                Back
            </button>
        </mat-card-actions>
    </mat-card>
     <div class="logo-container" fxFlexAlign="center">
        <app-logo></app-logo>
    </div>
</div>
