.bigButton {
  transform: scale(3);
  margin-left : 110px;
  margin-top: 30px;
}

.smallButton {
  transform: scale(2);
  margin-left : 100px;
}
.row , .card2 {
    margin-left : 15px;
    margin-right : 40px;
    margin-top: 5px;
}

.row , .card2 , table {
  width: 100%;
}

table {
  width : 100%;
  overflow-y: scroll;
}

.col-9  {
  &.dialog {
      max-height: 250px;
      
      table {
          margin-left: 15px;
          margin-right: 10px;
      }
  }    
}